WP_DEBUG=false
WP_DEBUG_LOG=true
WP_DEBUG_DISPLAY=false
WP_DEBUG_LOG=true # '.logs/debug.log'
WP_CACHE=false

# Uncomment in the wp-congig.php file as well
# WP_HOME=
# WP_SITEURL=

DB_NAME=
DB_USER=forge
DB_PASSWORD=
DB_HOST=localhost
DB_CHARSET=utf8
DB_PREFIX=wp_
WP_REDIS_PREFIX=
#DB_COLLATE=

# CAN_EDIT_ACF=false
# ACF_GOOGLE_API_KEY=''
ACF_PRO_LICENSE=
GF_LICENSE_KEY=
GPERKS_LICENSE_KEY=

# Custom variables can be added to the deployment script.
# FONTAWESOME_NPM_AUTH_TOKEN=''

# DISABLE_WP_CRON=true
# DISALLOW_FILE_EDIT=true

# https://api.wordpress.org/secret-key/1.1/salt/
# https://vinkla.github.io/salts/
AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=
